$spotify-white: #ffffff;
$spotify-dark: #6a6a6a;
$spotify-mute: #a0a0a0;
$spotify-green: #1db954;
$spotify-background: #0d0d0d;

* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: $spotify-background;
  color: $spotify-white;
  padding: 0;
  margin: 0;
  display: flex;
}

.text-white {
  color: $spotify-white !important;
}

.text-dark {
  color: $spotify-dark !important;
}

.text-mute {
  color: $spotify-mute !important;
}

.text-green {
  color: $spotify-green !important;
}

.button {
  border: none;
  outline: none;
  background-color: $spotify-green;
  color: $spotify-white;
  cursor: pointer;
  border-radius: 1em;
  font-size: 1em;
  padding: 0.5em;
  line-height: 1.25em;
  transition: all ease 500ms;

  &[disabled] {
    opacity: 0.5;
    cursor: wait;
  }

  &-200 {
    max-width: 200px;
  }
}

.container {
  flex: 1 0 50%;
  padding: 1em;
  display: flex;

  &_search {
    border: 1px solid red;
    flex-direction: column;
  }

  &_playlist {
    border: 1px solid green;
    flex-direction: column;
  }
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__input {
    -webkit-appearance: none;
    flex: 1 0 80%;
    outline: none;
    border-radius: 1em 0 0 1em;
    border: 0 solid transparent;
    font-size: 1.25em;
    padding: 0;
    padding-left: 1em;
    color: $spotify-dark;
    width: 100%;
  }

  &__button {
    flex: 1 0 20%;
    font-size: 1.2em;
    border-radius: 0 1em 1em 0;
    width: 100%;
  }
}
