$spotify-white: #ffffff;
$spotify-dark: #6a6a6a;
$spotify-mute: #a0a0a0;
$spotify-green: #1db954;
$spotify-background: #0d0d0d;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: $spotify-background;
  color: $spotify-white;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.text-white {
  color: $spotify-white !important;
}

.text-dark {
  color: $spotify-dark !important;
}

.text-mute {
  color: $spotify-mute !important;
}

.text-green {
  color: $spotify-green !important;
}

.button {
  border: none;
  outline: none;
  background-color: $spotify-green;
  color: $spotify-white;
  cursor: pointer;
  border-radius: 1em;
  font-size: 1em;
  padding: 0.5em;
  line-height: 1.25em;
  transition: all ease 500ms;

  &[disabled] {
    opacity: 0.5;
    cursor: wait;
  }

  &-auth {
    padding-left: 3em;
    padding-right: 3em;
  }
}

.container {
  padding: 1em;
  display: flex;

  &_search {
    flex: 1 0 50%;
    border-right: 1px solid rgba(160, 160, 160, 0.25);;
    flex-direction: column;
  }

  &_playlist {
    flex: 1 0 50%;
    position: relative;
    flex-direction: row;
    align-items: center;
  }
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 0 0 44px;

  &__input {
    -webkit-appearance: none;
    flex: 1 0 80%;
    outline: none;
    border-radius: 2em 0 0 2em;
    border: 0 solid transparent;
    font-size: 1.25em;
    padding: 0;
    padding-left: 1em;
    color: $spotify-dark;
    width: 100%;
  }

  &__button {
    flex: 1 0 20%;
    font-size: 1.2em;
    border-radius: 0 2em 2em 0;
    width: 100%;
  }
}

.match {
  flex: 1 1 50vh;
  overflow-y: scroll;
  margin-top: 1em;
  -webkit-overflow-scrolling: touch;
}

.track-list {
  .track:first-child {
    border-top: none;
  }

  .track:last-child {
    margin-bottom: 2em;
  }
}

.track {
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(160, 160, 160, 0.5);
  padding: 1em 0;

  &__image {
    flex: 0 1 15%;

    img {
      width: 100%;
      min-height: 50px;
      height: auto;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1em;
    flex: 1 1 auto;

    .ashamed {
      flex: 1 1 auto;
    }
  }

  .ashamed-two-times {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__name {
    margin: 0;
    font-size: 1.5em;
  }

  &__artist {
    font-size: 0.9em;
  }

  &__duration {
    flex: 0 1 auto;
    font-size: 0.9em;
    text-align: right;
  }

  &__explicit {
    background-color: $spotify-mute;
    color: $spotify-background;
    padding: 0.3em 0.4em;
    margin-right: 0.75em;
    font-size: 0.75em;
    border-radius: 4px;
  }
}

#schwifty-411 {
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  color: $spotify-mute;
  font-size: 1.25em;
}

.profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100vh);
  top: 1em;
  left: 0;
  right: 0;
  margin: 0 auto;

  &__logout {
    margin-top: 1em;
  }

  &__image {
    width: 75px;
    border-radius: 75px;
    height: auto;
  }

  &__username {
    margin: 0;
    margin-top: .25em;
  }

  &__playlist {
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

#login-container {
  position: absolute;
  top: 1.25em;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
}
